<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ADMIN PAGE{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="{{ asset('assets/Styles/StyleAdmin.css') }}">

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <div id="bg_navBar">
        <div>
            <img src="" alt="logo">
        </div>
        <h1 id="text_center"> ADMIN </h1>
        <nav>
            <ul>
                <li><a href="{{ path('admin_article') }}">Gérer les articles</a></li>
                <li><a href="{{ path('admin_category') }}">Gérerles catégories</a></li>
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            </ul>
        </nav>
    </div>
    {#
    vérifie si des messages flashes ont été enregistrés
    par un controleur. Si oui, on les affiche
    #}
    {% for message in app.flashes('success') %}
        <div class="success-message">
            {{ message }}
        </div>
    {% endfor %}

</header>

{% block body %}
{% endblock %}
</body>